:root {
  --primary-color: #ffffff;
  --secondary-color: #910011;

  --primary-text-color: #1c1d25;
  --secondary-text-color: #636363;
  --accent-color: #507494;

  --primary-background-color: #fff;
  --secondary-background-color: #1F3547;

  --border-color: #2a3a4a;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-12: 12px;
  --fs-13: 13px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-22: 22px;
  --fs-26: 26px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-48: 48px;
  --fs-60: 60px;
  --fs-144: 144px;

  --primary-heading: var(--fs-48);
  --secondary-heading: var(--fs-22);

  /* --primary-font: "Be Vietnam Pro", sans-serif; */
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --code-font: 'Source Code Pro', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: var(--primary-text-color);
  font-size: var(--fs-22);
  line-height: 1.5;
  font-weight: var(--fw-regular);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  padding: 10px 0
}

img {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

/* Utility */

.page-spacer {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.primary-heading {
  font-size: var(--primary-heading);
  color: var(--primary-text-color);
  font-weight: var(--fw-bold);
  font-family: var(--secondary-font);
  margin-bottom: 15px;
}

.secondary-heading {
  font-size: var(--secondary-heading);
  font-family: var(--secondary-font);
  font-weight: var(--fw-bold);
  margin-bottom: 10px;
}

.bg-primary {
  background-color: var(--primary-background-color);
}

.bg-secondary {
  background-color: var(--secondary-background-color);
}

.primary-text {
  color: var(--primary-text-color);
  font-size: var(--fs-60);
}

.secondary-text {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: var(--fs-16);
}

.accent-text {
  color: var(--accent-color);
}

.code-font {
  font-family: var(--code-font);
  font-size: var(--fs-32);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-12 {
  font-size: var(--fs-12);
}
.fs-13 {
  font-size: var(--fs-13);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-22 {
  font-size: var(--fs-22);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-36 {
  font-size: var(--fs-36);
}

.fs-36 {
  font-size: var(--fs-36)
}

.fs-144 {
  font-size: var(--fs-144);
}

.fs-60 {
  font-size: var(--fs-60);
}

button:disabled {
  cursor: not-allowed;
  background-color: grey;
  opacity: 0.8;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.error-text {
  font-size: var(--fs-13);
  color: red;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .primary-heading {
    font-size: var(--fs-36);
  }
  .primary-text {
    font-size: var(--fs-32);
  }
}