:root {
  --primary-color: #ffffff;
  --secondary-color: #910011;

  --primary-text-color: rgba(0, 0, 0, 80%);
  --secondary-text-color: #4b5156;

  --primary-background-color: #fff;
  --secondary-background-color: #2a3a4a;

  --border-color: #2a3a4a;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-16: 16px;
  --fs-18: 18px;
  --fs-22: 22px;
  --fs-26: 26px;
  --fs-36: 36px;
  --fs-144: 144px;

  --primary-heading: var(--fs-36);
  --secondary-heading: var(--fs-22);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Be Vietnam Pro", sans-serif;
  background: #fff;
  color: var(--primary-text-color);
  font-size: var(--fs-22);
  line-height: 1.5;
  font-weight: var(--fw-regular);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  padding: 10px 0
}

img {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

/* Utility */

.primary-heading {
  font-size: var(--primary-heading);
  font-weight: var(--fw-bold);
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.secondary-heading {
  font-size: var(--secondary-heading);
  font-weight: var(--fw-bold);
  margin-bottom: 10px;
}

.bg-primary {
  background-color: var(--primary-background-color);
}

.bg-secondary {
  background-color: var(--secondary-background-color);
}

.primary-text {
  color: var(--primary-text-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}



.fs-18 {
  font-size: var(--fs-18);
}

.fs-22 {
  font-size: var(--fs-22);
}

.fs-36 {
  font-size: var(--fs-36)
}

.fs-144 {
  font-size: var(--fs-144);
}